<!DOCTYPE html>
<html>
<head>
  <title>SkinnystorkV6</title>
  </head>
<body>
		<!-- for devise -->
		<% if notice %>
		<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		<p class="alert alert-danger"><%= alert %></p>
		<% end %>
		<!-- end devise section -->

<%= yield %>

</body>
</html>
